// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

@import "carousel";
@import "cloud";

body{
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, rgba(10, 84, 37, 1) 0%, rgba(255, 255, 255, 0) 100%) no-repeat fixed;
}

.company-info{
    font-size: 0.8rem;
}

.title-bar{
    background-color: $primary-light;
    color: $primary-contrast;
    svg{
        border-radius: 50%;
        background-color: $primary-dark;
        min-width: 20px;
        min-height: 20px;
        padding: 8px;
    }
}

.intro-card{
    background-size: cover;
    background-position: center center;
}

.form-row{
    margin-bottom: 8px;
}

.site-logo{
    display: block;
    max-width: 250px;
}
