.carousel {
    overflow: hidden;
    .inner{
        white-space: nowrap;
        transition: 0.3s;
    }

    .carousel-item{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        color: red;
        .legend{
            display: flex;
            align-items: end;
            justify-content: flex-end;
        }
    }

    .indicators{
        display: flex;
        justify-content: center;
        > button {
            margin: 5px;
        }
    }
}
