
.carousel {
    overflow: hidden;
    max-width: 120px;
    .inner{
        white-space: nowrap;
        transition: 0.3s;
    }

    .carousel-item{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 120px;
        color: $secondary;
        .legend{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 120px;
        }
    }

    .indicators{
        display: flex;
        justify-content: center;
        > button {
            margin: 5px;
        }
    }
}
