
.tag-cloud{
    background-color: #eee;
    border-radius: 6px;
}

.tag-item{
    display: inline-block;
    padding: 4px;
    margin: 2px;
}

.tag-primary{
    color:$primary
}

.tag-secondary{
    color:$secondary
}

.tag-10{font-size: 10px}
.tag-11{font-size: 11px}
.tag-12{font-size: 12px}
.tag-13{font-size: 13px}
.tag-14{font-size: 14px}
.tag-15{font-size: 15px}
.tag-16{font-size: 16px}
.tag-17{font-size: 17px}
.tag-18{font-size: 18px}
.tag-19{font-size: 19px}
.tag-20{font-size: 20px}
.tag-21{font-size: 21px}
.tag-22{font-size: 22px}
.tag-23{font-size: 23px}
.tag-24{font-size: 24px}
.tag-25{font-size: 25px}
.tag-26{font-size: 26px}
.tag-27{font-size: 27px}
.tag-28{font-size: 28px}
.tag-29{font-size: 29px}
.tag-30{font-size: 30px}
.tag-31{font-size: 31px}
.tag-32{font-size: 32px}
.tag-33{font-size: 33px}
.tag-34{font-size: 34px}
.tag-35{font-size: 35px}
.tag-36{font-size: 36px}
.tag-37{font-size: 37px}
.tag-38{font-size: 38px}
.tag-39{font-size: 39px}

